<li class='container notification'>
  <div class='notification_description d-flex flex-row align-items-center'>
    <div class='description mr-auto'>
      <% if notification.notification_object.object.is_a? Friendship %>
        <%= notification.description %>
      <% else %>
        <%= link_to notification.description, notification.notification_object.object %>
      <% end %>
    </div>

    <%= form_for notification, url: notification_path(notification.id), method: :delete, html: { class: 'notification-form', id: "delete-notificiation-#{notification.id}" } do |f| %>
      <%= f.submit 'Mark as read', class: "btn btn-dark" %>
    <% end %>
  </div>
</li>