<%= provide(:title, 'Friend Requests') %>
<ul class='container friend-requests'>
  <% if @friend_request_notifications.any? %>
    <div class='notification-header'>
      <h2>Pending friend requests</h2>
    </div>
    <%= render partial: 'friend_request_notification', collection: @friend_request_notifications %>
  <% else %>
  <div class='notification-header'>
    <h2>No pending friend requests</h2>
  </div>
  <% end %>
</ul> 