  <div id = 'tag-search' class='mt-3'>
    <%= label_tag :tag_search, 'Tags' %>
    <%= autocomplete_field_tag :tag_search, '', autocomplete_skill_name_users_path, 
        'data-auto-focus': true,
        'data-showNoMatches': false,
        append_to: '#search-results',
        placeholder: 'e.g. python javascript',
        id: 'tag-search-field'%>
  </div>
