/* 
*  This file contains all of the styles that effect the application navigation bar.
*/

.navbar-dark {
    color: $white;
}

.bg-red {
    background-color: $red-base;
}

a.btn-nav, input.btn-nav,button.btn-nav {
    background-color: $red-base;
    color: $white;
    margin-left: 0.25rem;
    &:hover {
        background-color: darken($red-base, 10%);
        color: darken($white, 10);
    }
}

.clickable-logo {
    color: $white;

    &:hover {
        color: darken($white, 10);
        text-decoration: none;
    }
}

div.navbar-brand {
    font-size: 24px;
    font-weight: bolder;
}