
.friend-request {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    width: 100%;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid $borderColor;
}

.friend-request-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul.friend-requests, .notifications {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    height: 100%;
    list-style: none;
    background-color: $backgroundColor;
    border: 1px solid $borderColor;
    border-radius: 3px;
    overflow-y: auto;
    padding: 0.5rem 1rem;
}

.notification-header {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification {
    padding: 1rem;
    border-bottom: 1px solid $borderColor;
}