.pass-reset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: $backgroundColor;
    border: solid 1px $borderColor; 
    border-radius: 3px;
    padding: 1.5rem;
    .reset-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
