// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$backgroundColor: #f8f9fa;

.author_timestamp {
    margin-left: 0.5rem;
}

.content {
    padding-top : 1rem;
}

ol.posts{
    box-sizing: border-box;
    position: relative;
    list-style: none;
    width: 100%;
    height: 55%;
    overflow-y: auto;
    padding: inherit;
}

.post {
    background-color: $backgroundColor;
    border: solid 1px darken($backgroundColor, 50%);
    width: 100%;
    padding: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.post-field {
    margin-bottom: 0.5rem;
}

.post-form {
    border: solid 1px darken($backgroundColor, 50%);
    background-color: #e9ebee;
    padding: 1rem;
}
