.settings {
    border: solid 1px $borderColor; 
    padding: 1.5rem;
}

// Feed styles
.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    overflow-y: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

// Friend list styles

ul.friends {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    height: 100%;
    list-style: none;
    padding: 0 1rem;
    overflow: auto;
}

.friend {  
    padding: 0.5rem;
    border-bottom: solid 1px $borderColor;
}

// Profile Header Div
.profile-header {
    width: 100%;
    height: 21%;
    display: flex;
    justify-content: flex-start;
    margin-top:1rem;
    margin-bottom: 0.5rem;
}

// Profile buttons
.btn-profile{
    font-size: 100%;
    font-weight: 500;
    &:hover {
        background-color: darken($backgroundColor, 15%);
        font-weight: bolder;
    }
}

// Profile picture Div

.prof-pic {
    max-width: 20.9424%;
    max-height: 100%;
}

.prof-pic img {
    max-height: 100%;
    max-width: 100%;
    min-height: 25%;
    min-width: 25%;
    border: 2px solid $borderColor;
    border-radius: 100px;
}

.user-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 81.489%;
}

// Top half of profile header

.top{
    height: 25%;
    width: 100%;
}

.name-friends {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 880px;
    padding: 0.5rem;
}

h2.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 2rem 0 1rem;
}

.location-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 100%;
    width: fit-content;
    max-width: fit-content;
}

.user-location {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 100%;
    color: grey;
}

.friend-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    max-height: 100%;
    width: fit-content;
    // max-width: 68.1818%;
    padding: 0.928%;
}

// Bottom half of profile header (tag cloud)

.skill-tags {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
}

#edit-skills-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c52f24;
    background-color: darken($backgroundColor, 15%);
    border: 2px dotted $borderColor;
    border-radius: 30px;  
    height: 2rem;
    width: 2rem;
    font-size: 1.75rem;
    text-decoration: none;
    margin: 0.25rem 1rem 0.25rem 0rem;
    &:hover{
        color: $backgroundColor;
        background-color: $borderColor
    }
}

.skill{
    background-color: darken($backgroundColor, 15%);
    height: fit-content;
    width: fit-content;
    padding: 0 0.5rem;
    margin: 0.25rem;
    border: 1px solid $borderColor;
    border-radius: 3px;
    color: #c52f24;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

