$backgroundColor: #f8f9fa;
$borderColor: darken($backgroundColor, 50%);

#user_search{
    border: inset 1px $borderColor;
    border-radius: 3px;
    padding: 0.25rem;
}

ul.ui-autocomplete {
    // Top Level
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    height: fit-content;
    width: 10.9375%;
    border: 1px solid $borderColor !important;
    cursor: pointer;
    z-index: 1031;
}

.user-search-field .ui-widget-content {
    width: 10.9375%;
}

.user-search-field .ui-widget-content {
    height: fit-content;
    border: none;
    border-left: 1px solid $borderColor;
    background-color: #fff;
    font-weight: 400;
    padding: none;
    margin: none;
    .ui-state-active{
        cursor: pointer;
        color: #c52f24;
        text-decoration: none;
    }
}