/* 
*  This file contains all of the styles that effect the application navigation bar.
*/

$red-base: #c52f24;
$white: #ffffff;
.navbar-dark {
    color: $white;
}

.btn {
    font-size: calc(12px + 0.41885vh);
}

.bg-red {
    background-color: $red-base;
}

.btn-nav {
    background-color: $red-base;
    color: $white;
    margin-left: 0.25rem;
    &:hover {
        background-color: darken($red-base, 10%);
        color: darken($white, 10);
    }
}

.clickable-logo {
    color: $white;

    &:hover {
        color: darken($white, 10);
        text-decoration: none;
    }
}

.navbar-brand {
    font-size: calc(12px + 2.51309vh);
    font-weight: bolder;
}