$backgroundColor: #f8f9fa;
$borderColor: darken($backgroundColor, 50%);
$tagColor: #c52f24;

#check-mark {
    color: green;
}

#check-mark, #x-mark {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.remove-tag-button {
    color: $backgroundColor;
    background-color: $tagColor;
    border: 1px solid $tagColor;
    border-radius: 3px;
    padding: 0 5.5px;;
    &:hover{
        background-color: darken($tagColor, 20%);
    }
}

#search-results {
    & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style: none;
        padding-left: 0;
    }
}

#search-results .ui-widget-content {
    background: #fff;
    font-size: .9rem;
    padding: .5rem 0;
    border-color: #ddd;
    box-shadow: 0 .1rem .2rem rgba(187, 187, 187, 0.64);
    line-height: 1.2;
    max-height: 20rem;
    overflow: hidden;
    overflow-y: scroll;
}

#search-results .ui-menu-item {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    padding: .4rem .6rem .4rem .6rem;
    position: relative;
    border: 0;
    border-left: 5px solid transparent;
    position: relative;
    height: 2.8rem;
    width: fit-content;
}

#tagging-instructions {
    padding: 1rem;
    background-color: darken($backgroundColor, 5%);
    border: solid 1px $borderColor;
    border-radius: 3px;
}

#tag-search {
    width: 100%;
    font-size: 1em;
    padding: .5em 1.3em;
    background: transparent;
    border: 1px solid darken($backgroundColor, 20%);
    border-radius: 3px;
    &:focus {
        border-color: $borderColor;
    }
}

.tag {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.25rem;
    margin: 0.5rem;
    background-color: $tagColor;
    color: $backgroundColor;
    border: 1px solid darken($tagColor, 50%);
    border-radius: 3px;
}

#tagging-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.ui-widget-content .ui-state-active {
    border: 1px solid darken($backgroundColor, 20%);
    border-radius: 2px;
    background-color: darken($backgroundColor, 5%);
    cursor: pointer;
    font-weight: 400;
}

div .ui-menu-item-wrapper {
    padding: 0.5rem;
    margin-right: 0.4rem;
}

#valid-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
}