<%= provide(:title, 'Set Loctation') %>
<div id='trans-layer'>
  <div id='location-instructions'>
    Please do not select your full address, but be specific about which state and country you live in. e.g. 'Stafford, VA, USA'
    <button type='button' id='got-it' class='btn btn-dark ml-2'>
      Got it.
    </button>
  </div>
</div>
<%= link_to 'Cancel', user_path(current_user), class: 'btn alert-danger mt-3' %>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>
<div style="display:none">    
  <%= render partial: 'location_form', locals: { location: @location, url: user_location_path(@user_location), method: :patch } %>
</div>
<script>
  <%= render partial: 'locations_edit.js.erb', locals: { location: @location } %>
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUSuOflws6y42yYp9nyIcuVSM0hroI6BU&libraries=places&callback=initAutocomplete"
        async defer></script>
