$backgroundColor: #f8f9fa;

.friend-request {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: solid 1px darken($backgroundColor, 50%);
}

.friend-request-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.friend-requests, .notifications {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    list-style: none;
    overflow-y: scroll;
    padding-left: 1rem;
    padding-right: 1rem;
}

.notification {
    padding: 1rem;
    border-bottom: solid 1px darken($backgroundColor, 50%);
}