$backgroundColor: #f8f9fa;

.btn-profile{
    &:hover {
        background-color: darken($backgroundColor, 10%);
    }
}

ul {
    padding: 0;
    margin-top: 1.5rem;
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.friend {  
    width: 15rem;
    margin-bottom: 0.5rem;
}

.profile {
    background-color: $backgroundColor;
}

.prof_pic {
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 0;
}
