$backgroundColor: #f8f9fa;

.btn-profile{
    &:hover {
        background-color: darken($backgroundColor, 10%);
    }
}

.profile {
    background-color: $backgroundColor;
}

.prof_pic {
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 0;
}
